version: '3.8'
services:
  # College DB
  postgres-college:
    image: postgres:15
    container_name: postgres-college
    environment:
      POSTGRES_DB: college_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"

  # Professor DB
  postgres-professor:
    image: postgres:15
    container_name: postgres-professor
    environment:
      POSTGRES_DB: professor_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"

  # Student DB
  postgres-student:
    image: postgres:15
    container_name: postgres-student
    environment:
      POSTGRES_DB: student_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"

  # Eureka Discovery Server
  discovery-server:
    build: ./discovery-server
    container_name: eureka-server
    ports:
      - "8761:8761"

  # API Gateway
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery-server

  # College Service
  college-service:
    build: ./college-service
    container_name: college-service
    depends_on:
      - postgres-college
      - discovery-server
    ports:
      - "8081:8081"

  # Professor Service
  professor-service:
    build: ./professor-service
    container_name: professor-service
    depends_on:
      - postgres-professor
      - discovery-server
    ports:
      - "8082:8082"

  # Student Service
  student-service:
    build: ./student-service
    container_name: student-service
    depends_on:
      - postgres-student
      - discovery-server
    ports:
      - "8083:8083"
